.label {
    @include floating-label;
}

.input {
    @include text;

    width: 100%;
    padding: 15px 0 15px 10px;
    line-height: 22px;
    background-color: transparent;
    border: 1px solid $input-color;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: transparent;
    }

    &:not(:placeholder-shown) ~ .label,
    &:focus ~ .label {
        top: -10px;
    }

    &[aria-invalid="true"] {
        border-color: red;
    }
}

.group {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

input.input:-webkit-autofill,
input.input:-webkit-autofill:hover,
input.input:-webkit-autofill:focus {
    caret-color: $text-color;
    -webkit-text-fill-color: $text-color;
    box-shadow: transparent;
    transition: background-color 5000s ease-in-out 0s;
}

.error {
    display: inline-block;
    width: 100%;
    color: red;
}
