// переменные для даленьешего использования (имена некоторых переменных не самые правильные)

$background: linear-gradient(
    180deg,
    #24252f 0%,
    #31313f 36.46%,
    #2f303d 44.58%,
    #242530 100%
);
$dark-background: #2b2d3a;
$accent-background: #252631;
$primary-color: #2d76f9;
$contrast-primary-color: #0359f3;
$link-color: #eef3ff;
$crumb-color: #9aa8ba;
$dark-crumb-color: #616580;
$text-color: #fff;
$input-color: #9aa8ba;
$tablet-width: 1280px;
$mobile-width: 700px;
$title-font-size: 38px;
$title-font-size-mobile: 28px;
$subtitle-font-size: 28px;
$subtitle-font-size-mobile: 18px;
$text-font-size: 16px;
$text-font-size-mobile: 16px;
